<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  EDIT ITEM INFORMATION
  <table>
    <form action="/api/customers/edit/success/<%= customer._id %>" method="POST">
      <tr><td>Member_ID:</td><td><input type="text" value="<%= customer.member_id %>" name="member_id"></td></tr>
      <tr><td>Name:</td><td><input type="text" value="<%= customer.name %>" name="name"></td></tr>
      <tr><td>Address:</td> <td><input type="text" value="<%= customer.address %>" name="address"></td></tr>
      <tr><td>Zipcode:</td><td><input type="text" value="<%= customer.zipcode %>" name="zipcode"></td></tr>
      <tr><td>Phone:</td><td><input type="text" value="<%= customer.phone %>" name="phone"></td></tr>
      <tr><td><input type=submit></td></tr>
    </form>
  <table>
</body>
</html>
